node_modules/*
!node_modules/app
*.log
*.iml
bower_components
public/dist
public/sc.js
socketcluster
.DS_Store
bundle.js
.idea/
public/upload/
views.orig
qiniu_version.json
rs/
views.pub
upload
server/docs/*

