<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 工作机会</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyright As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 工作机会" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="zh-CN" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<style>
*{margin: 0; padding: 0;}
body, html{height: 100%; background-color: #f2f4f8;}
main{height: 100%;}
.footer{width: 1000px; margin: 0 auto;}
.footer p{margin: 0;padding: 10px 0;}

.o-s-c {padding-top: 60px; margin}
.o-s-c .o-s-c-i {width: 1000px; margin: 0 auto;}
.page-main .page-header {border-bottom: 0;}
.page-main .page-title {margin-top: 0; margin-bottom: 0; font-size: 26px;}
.page-main .panel .panel-body {line-height: 2;}
.page-main .panel-title {font-size: 18px; display: block; padding: 10px 15px; color: #37474f;}
.page-main .panel-heading {padding: 0;}
.flag-icon {
  position: relative;
  display: inline-block;
  width: 25px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: contain;
  background-size: contain;
}
.dropdown-menu .flag-icon {
  margin-right: 10px;
}
.flag-icon-cn {
  background-image: url("../images/cn.svg");
}
.flag-icon-gb {
  background-image: url("../images/gb.svg");
}
.flag-icon:before {
  content: "\00a0"
}
</style>
</head>
<body>
<h1 style="position: absolute;left: -99999px;">音乐版权云服务</h1>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Topdmc" src="/images/logo9.png" height="26">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle language-text"></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.topdmc.com"><span class="flag-icon flag-icon-cn"></span>简体中文</a></li>
            <li><a href="https://global.topdmc.com"><span class="flag-icon flag-icon-gb"></span>English</a></li>
          </ul>
        </li>
        <li><a href="/about">{{lang.Aboutus}}</a></li>
        <li><a href="/careers">{{lang.DMCCareers}}</a></li>
        <li><a href="/contactus">{{lang.Contactus}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <section class="o-s-c">
    <div class="o-s-c-i">
      <div class="page-main">
        <div class="page-header">
          <h1 class="page-title">{{lang.DMCCareers}}</h1>
        </div>
        <div class="page-content">
          <div class="panel">
            <div class="panel-body">
              <p>
                <div>TopDMC是一个小而美的且以技术为导向的团队，致力于改变现有音乐版权行业，将音乐正版化推向互联网的每一个角落；</div>
                <div>TopDMC推崇自由的互联网氛围，让你在舒适自在的工作环境中保持活跃，与基友分享，共同学习；</div>
                <div>TopDMC不仅仅是工作，还要享受生活；</div>
              </p>
              <p>
                <div>我们认为你应该是位 Google 控，常驻 Github、stackoverflow、Hackernews、Medium 等网站或社区，并乐于分享；</div>
                <div>你应该会维护有自己的技术博客，或者独立项目；</div>
                <div>原则、正义、幽默、有品位一个都不能少；</div>
              </p>
              <p>总之如果你认为自己是个 Geek，那么我觉得你应该联系我们一下。或许会有火花哦~~</p>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">前端工程师</h3>
            </div>
            <div class="panel-body">
              <p>
                <div>职责：</div>
                <div>一起使用HTML5、CSS3等相关技术开发手机、平板电脑等多平台兼容WEB前端应用；</div>
                <div>一起使用JavaScript编写封装良好的前端交互组件，维护及优化网站前端页面性能；</div>
              </p>
              <p>
                <div>要求：</div>
                <div>喜欢Coding，喜欢学习；不管手里有多少钱，就想当个程序猿！</div>
                <div>Web前端技术（HTML/CSS/JavaScript等)上有实战经验；</div>
                <div>是一个人品nice，负有责任感喜欢探索学习的好孩纸；</div>
                <div>有1年以上前端开发经验，有使用Git经验，掌握至少一种JS框架；</div>
                <div>对NodeJS有一定了解那就更加完美了；</div>
              </p>
              <p>
                <div>你将得到的：</div>
                <div>让你的技术之路开启一扇窗，带你成长带你飞；</div>
                <div>成为一个让正版音乐席卷大陆的缔造者；</div>
                <div>无需打卡，弹性、轻松、愉快的工作氛围；</div>
                <div>各种零食饮料无限量免费供应；</div>
              </p>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">Nodejs工程师</h3>
            </div>
            <div class="panel-body">
              <p>
                <div>职责：</div>
                <div>TopDMC的SaaS平台开发</div>
              </p>
              <p>
                <div>要求：</div>
                <div>喜欢Coding，喜欢学习；不管手里有多少钱，就想当个程序猿！</div>
                <div>1-3年工作经验，熟悉HTTP/HTTPS协议，熟悉RESTFul，熟悉Linux</div>
                <div>熟练使用Git</div>
                <div>有分布式、高性能系统设计和编码经验优先</div>
                <div>有AWS平台经验优先</div>
                <div>有FRP编程经验优先</div>
              </p>
              <p>
                <div>你将得到：</div>
                <div>让你的技术之路开启一扇窗，带你成长带你飞；</div>
                <div>成为一个让正版音乐席卷大陆的缔造者；</div>
                <div>无需打卡，弹性、轻松、愉快的工作氛围；</div>
                <div>各种零食饮料无限量免费供应；</div>
              </p>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">Java后端工程师</h3>
            </div>
            <div class="panel-body">
              <p>
                <div>职责：</div>
                <div>TopDMC的SaaS平台开发</div>
              </p>
              <p>
                <div>要求：</div>
                <div>喜欢Coding，喜欢学习；不管手里有多少钱，就想当个程序猿！</div>
                <div>1-3年工作经验，熟悉HTTP/HTTPS协议，熟悉RESTFul，熟悉Linux</div>
                <div>熟练使用Git</div>
                <div>有分布式、高性能系统设计和编码经验优先</div>
                <div>有AWS平台经验优先</div>
                <div>有函数式编程和Nodejs经验优先</div>
              </p>
              <p>
                <div>你将得到：</div>
                <div>让你的技术之路开启一扇窗，带你成长带你飞；</div>
                <div>成为一个让正版音乐席卷大陆的缔造者；</div>
                <div>无需打卡，弹性、轻松、愉快的工作氛围；</div>
                <div>各种零食饮料无限量免费供应；</div>
              </p>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">PHP工程师</h3>
            </div>
            <div class="panel-body">
              <p>
                <div>职责：</div>
                <div>TopDMC的SaaS平台开发</div>
              </p>
              <p>
                <div>要求：</div>
                <div>喜欢Coding，喜欢学习；不管手里有多少钱，就想当个程序猿！</div>
                <div>1-3年工作经验，熟悉HTTP/HTTPS协议，熟悉RESTFul，熟悉Linux</div>
                <div>熟练使用Git</div>
                <div>有分布式、高性能系统设计和编码经验优先</div>
                <div>有AWS平台经验优先</div>
                <div>有函数式编程和Nodejs经验优先</div>
              </p>
              <p>
                <div>你将得到：</div>
                <div>让你的技术之路开启一扇窗，带你成长带你飞；</div>
                <div>成为一个让正版音乐席卷大陆的缔造者；</div>
                <div>无需打卡，弹性、轻松、愉快的工作氛围；</div>
                <div>各种零食饮料无限量免费供应；</div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <p>Copyright &copy; 2016 北京成为科技有限公司 京ICP备15018286号</p>
  </footer>
</main>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
var __host = document.location.host;
if (__host.indexOf('global') !== -1) {
  $('.language-text').html('<span class="flag-icon flag-icon-gb" style="margin-right: 5px;"></span>English <span class="caret"></span>');
} else {
  $('.language-text').html('<span class="flag-icon flag-icon-cn" style="margin-right: 5px;"></span>简体中文 <span class="caret"></span>');
}

$('.dropdown-toggle').on('click', function(evt) {
  evt.preventDefault();
  var $dropdownMenu = $(this).siblings('.dropdown-menu');
  if ($dropdownMenu.is(':hidden')) {
    $dropdownMenu.show();
  } else {
    $dropdownMenu.hide();
  }
});
</script>
</body>
</html>
