<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>DMC - 数字版权云服务</title>
	<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyright As a Service" />
	<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
  <meta property="og:title" content="DMC - 数字版权云服务" />
  <meta property="og:type" content="Digital Music Cloud.Platform" />
  <meta property="og:url" content="http://www.topdmc.com" />
  <meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
  <meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
  <meta property="og:locale" content="zh-CN" />
  <meta property="og:site_name" content="topdmc" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="stylesheet" href="/css/mbs.css">
  <link rel="stylesheet" href="/css/main.css">
  <style>
    body {
      height: 100%;
      background: #f8f6f2;
    }
    .choice-center {
      text-align: center;
      margin-top: 20%;
    }
  </style>
</head>
<body>
  <div class="choice-center">
    <a class="btn-success btn mr10 btn-lg" href="/#" onclick="localStorage.setItem('isSP', 'false')">以cp身份登陆</a>
    <a class="btn-success btn btn-lg" href="/#/sp" onclick="localStorage.setItem('isSP', 'true')">以sp身份登陆</a>
  </div>
</body>
</html>
