<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - Digital Music Cloud</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyright As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 数字版权云服务" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="en" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<style>
html, body {
  height: 100%;
}
body {
  background: none;
  font-family: 'PingFang SC', 'PingFangSC-Regular', '苹方', 'Helveitica Regular', '微软雅黑', "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica,Arial, "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", 'sans-serif';
}
.fail-tips {
	color: #fff;
	font-size: 18px;
	margin-top: 40px;
	text-align: center;
	display: none;
}
.rc-loading {
	color: #6b7b8a;
	text-align: center;
	margin-top: 40px;
	font-size: 18px;
	display: none;
}
</style>
</head>
<body>
<!-- <div id="particles-js"></div> -->
<section class="doorbell-wrap">
  <div class="singnup_header">
    <img src="/images/logo_old@2.png" alt='TopDMC'/>
    <span>DMC音乐版权管理平台</span>
  </div>
  <p class="rc-loading">正在加载...</p>
  <div class='singup_centent'>
    <p>尊敬的<strong class="username"></strong>先生/女士</p>
    <p class='invitation'>您好！</p>
    <p class='invitation'>很荣幸邀请您注册为DMC音乐版权用户，请核对您的信息并填写用户名和密码完成注册。</p>
  </div>
  <form id="visitor_form" class='signup_form'>
    <div class='form-group'>
      <label>版权主题名称：</label>
      <span><strong class="companyName">空</strong></span>
    </div>
    <div class="form-group">
      <label>用户名：</label>
      <input name="username" type="text" class="form-control formInputW" placeholder="请输入用户名">
      <p class='from_remind'>以小写字母开头的8为小写和数字的组合</p>
    </div>
    <div class="form-group">
      <label>密码：</label>
      <input name="password" type="password" class="form-control formInputW" placeholder="请输入密码">
      <p class='from_remind'>8个字母和数字的组合，区分大小写</p>
    </div>
    <div class="form-group">
      <label>再次输入密码：</label>
      <input name="_password" type="password" class="form-control formInputW" placeholder="请确认密码">
      <p class='from_remind'>必须与密码完全一致</p>
    </div>
    <input name="code" type="text" class="hide" placeholder="请输入邀请码" value="{{CODE}}">
    <div class="form-group">
      <input type='checkbox' id="agree" disabled checked>
      <a href='/license' target="_blank" class='signup_agree'>我已阅读并同意版权方用户协议</a>
    </div>
    <div class="form-group">
      <p class="js-msg" style="text-align:center;color:#f3565d"></p>
    </div>
    <input type="submit" value="注&nbsp;&nbsp;册" class="login btn primary-bg btn-block signup_submit" />
  </form>
  <p class="fail-tips">您的邀请码已失效，请联系DMC客服</p>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>
(function($, undefined) {
  // particlesJS.load('particles-js', '/config/doorbell_pConfig.json');

  var $loading = $('.rc-loading'),
			$failTips = $('.fail-tips'),
			$content = $('.rc-content'),
			$username = $('.username'),
      $companyName = $('.companyName')
			$inBtn = $('#inBtn');
	var url = '{{PROXY_PREFIX}}' + '{{API_PREFIX}}' + '/invitation/' + '{{CODE}}';
	$.ajax({
		url: url,
		method: 'GET',
		dataType: 'json',
		beforeSend: function() {
			$loading.show();
			$content.hide();
			$failTips.hide();
		},
		success: function(result) {
			$loading.hide();
			if (result.status == 200) {
				$failTips.hide();
				$username.text(result.data.invitation.username || '');
				// $inBtn.attr('href', '{{LOGIN_URL}}?refcode=' + result.data.invitation.code);
        $companyName.text(result.data.invitation.company && result.data.invitation.company.name || '空')
				$content.show();
				return;
			}
			if (result.status == 400) {
				$failTips.text('您的邀请码已失效，请联系DMC客服').show();
				return;
			}
			if (result.status == 404) {
				$failTips.text('没有这个邀请码哟，请联系DMC客服').show();
				return;
			}
		},
		error: function() {
			$loading.hide();
			$failTips.text('异常错误，请重试').show();
		}
	});


    //+++++++++++++++++++//

  $.fn.serializeJson = function() {
    var serializeObj = {};
    $(this.serializeArray()).each(function () {
      serializeObj[this.name]= this.value;
    });
    return serializeObj;
  };

  var $loginBtn = $('.login'),
      $form = $('#visitor_form');

  var API_URL = '{{API_PREFIX}}',
      VERIFY_URL = `${API_URL}/standard_login`;
  var msg = $('.js-msg')
  $loginBtn.click(function(e) {
    e.preventDefault();
    var data = $form.serializeJson();
    if ( '' === $.trim(data.username) ) {
      msg.html('请输入用户名');
      return;
    }
    if ( '' === $.trim(data.password) ) {
      msg.html('请输入密码');
      return;
    }
    if (data.password !== data._password) {
      msg.html('请确认输入的密码一致')
      return
    }
    $.ajax({
      method: 'POST',
      url: VERIFY_URL,
      dataType: 'json',
      headers: {
        'Content-Type':'application/json'
      },
      xhrFields: {
        withCredentials: true
      },
      data: JSON.stringify(data),
    }).done(function(res) {
      if (res.status === 302) {
        location.href = '/';
      }
    }).fail(function(xhr) {
      msg.html(xhr.responseJSON.data ? xhr.responseJSON.data.message : '服务器异常, 请重试.');
    });
  });
})(jQuery);
</script>
</body>
</html>
