
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>数字音乐云topdmc</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="stylesheet" href="css/dmc_index.css">
</head>

<body>
	<div class="swiper-container" id="swiper-container-v">

		<section class="poster_wrap load" id="load">
			<div class="p_loading">
				<div class="p_loading_logo"></div>
				<p class="p_loading_tip">简单、透明、自主、富足</p>
			</div>
		</section>


		<div class="swiper-wrapper">
			<!-------------slide1----------------->
			<section class="swiper-slide swiper-slide1 swiper-slide-v">
				<div class="index-top ani" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s" swiper-animate-delay="0s">
					<div class="logo">
						<div class="box1">
							<div class="box2">
								<img src="images/logo.png">
							</div>
						</div>
					</div>
					<h1 class="poster_tit">DMC</h1>
					<p class="poster_details">简单、透明、自主、富足</p>

				</div>

				<div class="building ani" swiper-animate-effect="myZoomIn2" swiper-animate-duration="0.6s" swiper-animate-delay="0s"></div>

			</section>
			<!---------------slide2-------------->
			<section class="swiper-slide swiper-slide2 swiper-slide-v">


				<ul class="company_intro">
					<li class="intro1 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
						<div class="icon"><i></i></div>
						<p>北京</p>
					</li>
					<li class="intro2 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
						<div class="icon"><i></i></div>
						<p>精英团队</p>
					</li>
					<li class="intro3 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
						<div class="icon"><i></i></div>
						<p>技术支持</p>
					</li>
				</ul>


				<h3 class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s"><i class="about_us_tit_ico"></i>认识我们</h3>
				<div class="about_us_msg_p ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s">DMC依托先进的技术平台，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广的一站式服务</div>

			</section>
			<!----------------slide3-------------->
			<section class="swiper-slide swiper-slide3 swiper-slide-v">

				<h1 class="abus_head"><i class="about_us_tit_ico"></i>我们的优点</h1>



				<div class="welf_bg">
					<div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
						<span>省时</span>
					</div>
					<div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s">
						<span>实现版权价值</span>
					</div>
					<div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s">
						<span>省力</span>
					</div>
					<div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s">
						<span>透明的数据监测</span>
					</div>
					<div class="fiv ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
						<span>提高影响力</span>
					</div>
					<div class="six ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
						<span>省钱</span>
					</div>
				</div>








			</section>
			<!-------------slide4----------------->
			<section class="swiper-slide swiper-slide4 swiper-slide-v">
				<h1 class="posit_tit"><i class="about_us_tit_ico"></i>我们的职能说明</h1>
				<div class="swiper-container ani" id="swiper-container-h" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
					<div class="swiper-wrapper">
						<div class="swiper-slide slide1">
							<div class="post-body">
								<header>
									<p>轻松实现歌曲版权价值</p>
									<p> DMC将歌曲全面直观地展现给海量的音乐服务商， 权利人通过自主授权、全面分发，真正实现 每一次在线播放都得到及时合理的支付</p>
								</header>
								<div class="post-image" style="background-image: url('images/sxjz.jpg');"></div>
							</div>
							<div class="posit_arrow_bot"></div>
						</div>
						<div class="swiper-slide slide2">
							<div class="post-body">
								<header>
									<p>省时、省钱、省力</p>
									<p>大幅度减少重复而繁琐的商务合作，降低不确定性， 音乐人和唱片公司将更多的精力和资源投入在音乐之中。</p>
								</header>
								<div class="post-image" style="background-image: url('images/sssl.jpg');"></div>
							</div>

							<div class="posit_arrow_bot"></div>
						</div>
						<div class="swiper-slide slide3">
							<div class="post-body">
								<header>
									<p>实时、透明的数据监测</p>
									<p>支持随时查阅各歌曲各渠道播放数据，让音乐权利人 对歌曲播放情况了然于心，收益更透明、可靠。</p>
								</header>
								<div class="post-image" style="background-image: url('images/sjjc.jpg');"></div>
							</div>

							<div class="posit_arrow_bot"></div>
						</div>


						<div class="swiper-slide slide4">
							<div class="post-body">
								<header>
									<p>和盗版游击战说再见</p>
									<p> 对线上音乐实施盗版排查，同专业的版权法务团队合作 让盗版维权有据可依，有理可依。</p>
								</header>
								<div class="post-image" style="background-image: url('images/dbpc.jpg');"></div>
							</div>

							<div class="posit_arrow_bot"></div>
						</div>


						<div class="swiper-slide slide5">
							<div class="post-body">
								<header>
									<p>企划推广提高歌曲影响力</p>
									<p>歌曲通过DMC平台便捷的推广到多样化的消费终端， 准确的数据定位结合DMC的企划推广资源，扩大听众覆盖面。</p>
								</header>
								<div class="post-image" style="background-image: url('images/qhtg.jpg');"></div>
							</div>

							<div class="posit_arrow_bot"></div>
						</div>

					</div>
				</div>


				<!-- <div class="job_btn_con ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.1s" swiper-animate-delay="0.5s">
  				    <div class="job_btn_list">
		      <a href="#" class="job_btn add" >投个简历</a>
		      <a href="tel:0755-12345678" class="job_btn tel">电话联系</a>
		    </div>
	    	      </div> -->

			</section>
			<!-------------slide5----------------->
			<section class="swiper-slide swiper-slide5 swiper-slide-v">
				<div class="logo">
					<div class="box1">
						<div class="box2">
							<img src="images/logo.png">
						</div>
					</div>
				</div>
				<p class="praise_tip ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0s">已有<b>285</b>人觉得这家公司值得加入</p>
				<a class="praise_btn ani" href="javascript:;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
					<i><em></em></i>
					<span>点赞，值得加入</span>
				</a>
				<a class="praise_share_btn ani" href="javascript:;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">分享给好友</a>
				<a class="more_position ani" href="#" id="viewmoreinfozp" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">联系我们&gt;&gt;</a>


			</section>



		</div>
		<div class="arrow-box">
			<img src="images/arrow.png" id="array">
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<script src="js/dmc_index.js"></script>
</body>

</html>
