<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 数字版权云服务</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyright As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 数字版权云服务" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="zh-CN" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/main.css">
<style>
html, body {
  height: 100%;
}
body {
  background: none;
}
</style>
</head>
<body>
<div id="particles-js"></div>
<section class="doorbell-wrap">
  <div class="header-logo">
    <img src="/images/logo.png" />
  </div>
  <form id="visitor_form">
    <div class="form-group">
      <label>手机号</label>
      <input name="number" type="tel" class="tel-input form-control" placeholder="11位手机号（必填）">
    </div>
    <div class="form-group">
      <label>验证码</label>
      <div class="input-group code-input-wrap">
        <input name="code" type="tel" class="form-control" placeholder="短信验证码（必填）">
        <div class="input-group-addon"><input type="button" disabled="disabled" class="get-code-btn btn primary-bg" value="获取验证码" /></div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>姓名</label>
          <input name="nickname" type="text" class="form-control" placeholder="中文姓名（必填）">
        </div>
        <div class="col-xs-6">
          <label>艺名/乐队名称</label>
          <input name="team_name" type="text" class="form-control" placeholder="昵称（必填）">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>您是通过何种途径了解到DMC？</label>
      <select class="form-control" name="knew_way">
        <option value="0">请选择</option>
        <option value="DMC小伙伴主动向您介绍">DMC小伙伴主动向您介绍</option>
        <option value="您的朋友已加入DMC，并向您推荐">您的朋友已加入DMC，并向您推荐</option>
        <option value="您的乐队队友向您推荐">您的乐队队友向您推荐</option>
      </select>
    </div>
    <input type="submit" value="提交" class="sub btn primary-bg btn-block" />
    <div class="tips">此后台只向已合作音乐人进行开放，如果您希望更多了解TopDMC，请在上方留下联系信息，我们会尽快安排让小伙伴联系您！</div>
  </form>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/kefir.min.js"></script>
<script src="/js/common.js"></script>
<script>
(function($, undefined) {
  particlesJS.load('particles-js', '/config/doorbell_pConfig.json');

  $.fn.serializeJson = function() {
    var serializeObj = {};
    $(this.serializeArray()).each(function () {
      serializeObj[this.name]= this.value;
    });
    return serializeObj;
  };

  var $getCodeBtn = $('.get-code-btn'),
      $telInput = $('.tel-input'),
      $number = $('input[name="number"]'),
      $submitBtn = $('.sub'),
      $form = $('#visitor_form');

  var msgTimer;
  var count = 60;
  var curCount;
  var phoneReg = /(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/g;

  var API_URL = '{{API_PREFIX}}',
      SMS_URL = API_URL + '/sms',
      VERIFY_URL = API_URL + '/sms/verify';

  $telInput.on('keyup', function(evt) {
    var value = evt.target.value.match(phoneReg);
    if (value !== null) {
      $getCodeBtn.removeAttr('disabled');
    } else {
      $getCodeBtn.attr('disabled', 'disabled');
    };
  });

  $getCodeBtn.click(function() {
    var phoneNumber = $number.val();
    if (phoneNumber.match(phoneReg) !== null) {
      curCount = count;
      $getCodeBtn.attr('disabled', 'disabled');
      $.ajax({
        method: 'POST',
        url: SMS_URL,
        dataType: 'json',
        headers: {
          'Content-Type':'application/json'
        },
        xhrFields: {
          withCredentials: true
        },
        data: JSON.stringify({
          number: phoneNumber
        }),
        success: function(res) {
          if (res.status === 200) {
            $getCodeBtn.attr('disabled', 'disabled');
            $getCodeBtn.text(curCount + '秒后重发');
            msgTimer = setInterval(setRemainTime, 1000);
          } else if (res.status === 201 || res.status === 400) {
            $getCodeBtn.removeAttr('disabled');
            alert(res.message);
          } else {
            $getCodeBtn.removeAttr('disabled');
            alert('异常错误');
          }
        },
        error: function() {
          $getCodeBtn.removeAttr('disabled');
          alert('异常错误');
        }
      });
    } else {
      alert('输入的手机号有误');
    }
  });

  $submitBtn.click(function(evt) {
    evt.preventDefault();
    var data = $form.serializeJson();
    if (data.number.match(phoneReg) == null || '' == $.trim(data.code) || '' == $.trim(data.nickname) || '' == $.trim(data.team_name) || data.knew_way == 0) {
      alert('请填写完整信息');
      return;
    }
    $.ajax({
      method: 'POST',
      url: VERIFY_URL,
      dataType: 'json',
      headers: {
        'Content-Type':'application/json'
      },
      xhrFields: {
        withCredentials: true
      },
      data: JSON.stringify(data),
      success: function(res) {
        if (res.status === 200) {
          alert('提交成功，稍后我们工作人员会与您联系');
        } else {
          alert(res.message);
        }
      },
      error: function() {
        alert('异常错误');
      }
    });
  });

  function setRemainTime() {
    if (curCount == 0) {
      clearInterval(msgTimer);
      $getCodeBtn.removeAttr('disabled');
      $getCodeBtn.val('重发验证码');
    } else {
      curCount--;
      $getCodeBtn.val(curCount + '秒后重发');
    }
  }
})(jQuery);
</script>
</body>
</html>
