<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 数字版权云服务</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyrigth As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 数字版权云服务" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="zh-CN" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/waves.min.css">
<link rel="stylesheet" href="/css/main.css">
<style>
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background: none;
}
</style>
</head>
<body>
<div id="particles-js"></div>
<section class="doorbell-wrap">
  <header class="header">
    <div class="header-logo">
      <h1>成为科技</h1>
    </div>
  </header>
  <div class="main">
    <div class="form-group">
      <label for="number">请填写手机号码 <span>*</span></label>
      <input type="tel" class="form-control" id="number" placeholder="手机号码">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="nickname">姓名 <span>*</span></label>
          <input type="text" class="form-control" id="nickname" placeholder="您的中文姓名">
        </div>
        <div class="col-sm-6">
          <label for="BDName">谁联系过您？</label>
          <input type="text" class="form-control" id="BDName" placeholder="联系人姓名">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="code">短信验证码 <span>*</span></label>
      <div class="input-flex">
        <input type="number" class="form-control" id="code" placeholder="短信验证码">
        <button type="button" class="flat-buttons" id="getCodeBtn">获取验证码</button>
      </div>
    </div>
    <a class="submit-btn flat-buttons" id="submitBtn">提交</a>
    <p class="tips" id="showMsg">提示：带 * 选项为必填项</p>
  </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/waves.min.js"></script>
<script src="/js/common.js"></script>
<script>
(function($, undefined) {
  Waves.attach('.flat-buttons', ['waves-button']);
  Waves.init();

  particlesJS.load('particles-js', '/config/doorbell_pConfig.json');

  var $getCodeBtn = $('#getCodeBtn'),
      $number = $('#number'),
      $code = $('#code'),
      $nickname = $('#nickname'),
      $BDName = $('#BDName');
      $submitBtn = $('#submitBtn'),
      $showMsg = $('#showMsg');
  var msgTimer;
  var count = 60;
  var curCount;
  var phoneReg = /(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/g;

  var API_URL = '{{API_PREFIX}}',
      SMS_URL = API_URL + '/sms',
      VERIFY_URL = API_URL + '/sms/verify';

  $getCodeBtn.click(function() {
    var phoneNumber = $number.val();
    if (phoneNumber.match(phoneReg)) {
      curCount = count;
      $.ajax({
        method: 'POST',
        url: SMS_URL,
        dataType: 'json',
        xhrFields: {
          withCredentials: true
        },
        headers: {
          'Content-Type':'application/json'
        },
        data: JSON.stringify({
          number: phoneNumber
        }),
        success: function(res) {
          if (res.status === 200) {
            $getCodeBtn.attr('disabled', 'true');
            $getCodeBtn.text(curCount + '秒后重发');
            msgTimer = setInterval(setRemainTime, 1000);
            showMsg('发送成功，请在60秒内输入', '#1bb556');
          } else if (res.status === 201 || res.status === 400) {
            showMsg(res.message, '#d54f38');
          } else {
            showMsg('异常错误', '#d54f38');
          }
        },
        error: function() {
          showMsg('异常错误', '#d54f38');
        }
      });
    } else {
      showMsg('输入的手机号有误', '#d54f38');
    }
  });

  $submitBtn.click(function() {
    var phoneNumber = $number.val(),
        codeNumber = $code.val(),
        nicknameVal = $nickname.val(),
        BDNameVal = $BDName.val();
    if ('' == $.trim(nicknameVal)) {
      showMsg('昵称不能为空', '#d54f38');
      return;
    }
    if (!phoneNumber.match(phoneReg)) {
      showMsg('手机号填写有误', '#d54f38');
      return;
    }
    if ('' == $.trim(codeNumber)) {
      showMsg('验证码不能为空', '#d54f38');
      return;
    }
    $.ajax({
      method: 'POST',
      url: VERIFY_URL,
      dataType: 'json',
      headers: {
        'Content-Type':'application/json'
      },
      data: JSON.stringify({
        number: phoneNumber,
        code: codeNumber,
        bd_name: BDNameVal,
        nickname: nicknameVal
      }),
      success: function(res) {
        if (res.status === 200) {
          showMsg('提交成功，稍后我们工作人员会与您联系', '#1bb556');
        } else {
          showMsg(res.message, '#d54f38');
        }
      },
      error: function() {
        showMsg('异常错误', '#d54f38');
      }
    });
  });

  function setRemainTime() {
    if (curCount == 0) {
      clearInterval(msgTimer);
      $getCodeBtn.removeAttr('disabled');
      $getCodeBtn.text('重发验证码');
    } else {
      curCount--;
      $getCodeBtn.text(curCount + '秒后重发');
    }
  }

  function showMsg(msg, color) {
    $showMsg.css({
      display: 'block',
      color: color
    });
    $showMsg.text(msg);
  }
})(jQuery);
</script>
</body>
</html>
