<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>TOPDMC</title>
<link rel="shortcut icon" type="image/x-icon" href="/build/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/css/mbs.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<script type="text/javascript">
window.DMC_OPT = {
  API_PREFIX: '{{API_PREFIX}}'
};
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.peity.min.js"></script>
<script type="text/javascript" src="/js/kefir.min.js"></script>
<script type="text/javascript" src="/js/echarts-all.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar-zh-cn.js"></script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>

</body>
</html>
