<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 数字版权云服务</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyrigth As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 数字版权云服务" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="zh-CN" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" type="image/x-icon" href="/build/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/css/mbs.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<style type="text/css">
html, body{
  height: 100%;
  overflow: hidden;
}
.btn-center li {
  text-align: center;
  margin-top: 20px;
}
.j-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.j-user p {
  margin-top: 5px;
}
</style>
</head>
<body>
<ul class="btn-center row">

</ul>
<div class='loading'>
  <div class='bounce1'></div>
  <div class='bounce2'></div>
  <div class='bounce3'></div>
</div>
<script src="/js/jquery.min.js"></script>
<script>
(function($, window) {
  // dev mode use test/user, del API_PREFIX
  var TEST_PREFIX = '{{API_PREFIX}}'.replace('/api/v1', '');
  var USERS_URL = TEST_PREFIX + '/test/users/';
  var PROXY_PREFIX = '{{PROXY_PREFIX}}';
  $.ajax({
    url: USERS_URL,
    dataType: 'json',
    type: 'GET',
    beforeSend: function() {
      $('.loading').css('display', 'block');
    },
    success: function(res, status, xhr) {
      if (res.length > 0) {
        var __htmlArr = [];
        $(res).each(function(idx, item) {
          __htmlArr.push('<li class="col-xs-1"><a class="j-user" href="' + PROXY_PREFIX + '/test/users/' + item.id + '"><img src="' + item.avatar + '"><br><p>' + item.username + '</p></a></li>');
        });
        $('.btn-center').append(__htmlArr.join(''));
        $('.loading').css('display', 'none');
      }
    }
  });
})(jQuery, window);
</script>
</body>
</html>
