<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>TOPDMC</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/main.css">
<style>
body {
  background: #fff;
}
.wrap {

}
.main {

}
.single-panel {
  margin: 5% auto 2% auto;
  background: 0 0;
  border: none;
  box-shadow: none;
}
.single-panel-header {

}
.single-panel-body {

}
</style>
</head>

<body>

<div class="wrap">
  <div class="main">
    <div class="single-panel">
      <div class="single-panel-header">

      </div>
      <div class="single-panel-body">
        <iframe src="{{LOGIN_URL}}" width="400" height="400" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script>
</script>
</body>
</html>
