<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 数字版权云服务</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyrigth As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/main.css">
<style>
body {
  background: #fff;
}
</style>
</head>
<body>
<section>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>名字</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="cp_list"></tbody>
  </table>
</section>
<script src="/js/jquery.min.js"></script>
<script>
var _url = '{{API_PREFIX}}' + '/companies';
$.ajax({
  url: _url,
  method: 'GET',
  xhrFields: {
    withCredentials: true
  },
  success: function(res) {
    if (res.data.length != 0) {
      var arr = [];
      $(res.data).each(function(idx, item) {
        arr.push('<tr><td>' + item.id + '</td><td>' + item.name + '</td><td>' + item.added_time + '</td><td><a class="btn btn-default" href="{{SWITCH_URL}}/companies/' + item.id + '/transformers">切换</a></td></tr>');
      });
      $('#cp_list').append(arr.join(''));
    }
  }
});
</script>
</body>
</html>
