<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>DMC - 数字版权云服务</title>
<meta name="keywords" content="DMC,topdmc,成为科技,音乐,版权,数字音乐,音乐版权云,数字音乐版权云服务,CaaS,Copyright As a Service" />
<meta name="description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:title" content="DMC - 数字版权云服务" />
<meta property="og:type" content="Digital Music Cloud.Platform" />
<meta property="og:url" content="http://www.topdmc.com" />
<meta property="og:image" content="http://www.topdmc.com/images/logo2-new.png" />
<meta property="og:description" content="DMC依托先进技术构建音乐版权云服务，为音乐权利人提供内容自主授权、数据监测、盗版排查、法务合作和企划推广一站式服务" />
<meta property="og:locale" content="zh-CN" />
<meta property="og:site_name" content="topdmc" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="stylesheet" href="/css/mbs.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css">
<style>
body {
  background: none;
  font-family: 'PingFang SC', 'PingFangSC-Regular', '苹方', 'Helveitica Regular', '微软雅黑', "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica,Arial, "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", 'sans-serif';
}
.content_right h2 {
  font-size: 26px;
  color: #222;
  margin: 16px 0 46px 0;
  text-align: center;
  font-weight: normal;
}
.single-panel-header .single-panel-logo img {
  width: 200px;
}
.wechat-single {
  text-align: center;
  overflow: hidden;
}
.wechat-single #qrcode {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.wechat-single p{
  font-size: 16px;
  color: #666;
}
.back-type {
  font-size: 14px;
  color: #2ed0d7;
  margin-top: 34px;
  float: right;
}
</style>
</head>

<body>
  <section class="doorbell-wrap">
    <div class='panel'>
      <div class='login_content'>
        <div class='content_left'>
          <div class='logo'>
            <img src='/images/logo_old@2.png' alt='TopDMC' />
          </div>
          <h5>TOP DMC音乐版权管理平台</h5>
          <div class='line'></div>
          <p><i class='fa fa-link'></i>拒绝挪用、拒绝盗版，把名字深刻地印在自己的作品上</p>
          <p><i class='fa fa-line-chart'></i>有效、透明的数据，让音乐行业每一位从业者都获得应有的</p>
          <p><i class='fa fa-usd'></i>播放=收入，因为每一次的播放都给听众带来了价值，无论主流或是小众</p>
        </div>
        <div class='content_right'>
          <h2>微信扫码登录</h2>
          <div class="wechat-single">
            <div id="qrcode"></div>
            <p>请使用微信扫描二维码登录</p>
          </div>
          <div class="back-type">
            <a href="/signin?{{CODE}}">账户密码登录</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- <main class="single-panel">
  <div class="single-panel-header">
    <a href="/" class="single-panel-logo"><img src="/images/logo2-new.png"></a>
  </div>
  <div class="single-panel-body">
    <div class="signin-type">
      <span class="wechat-icon"><i class="fa fa-weixin"></i>微信登录</span>
    </div>
    <div class="wechat-single">
      <div id="qrcode"></div>
      <p>请使用微信扫描二维码登录</p>
      <p>"TopDMC"</p>
    </div>
  </div>
  <div class="back-type" style="margin-top: 10px">
    <a href="/signin?{{CODE}}">返回账户名/密码登录</a>
  </div>
</main> -->

<script>
// (function(){'{{LOGIN_URL}}'.indexOf('login_demo') !== -1 && function(){window.location.href = '/login_demo'}()})();
</script>
<script src="https://cdn.bootcss.com/socket.io/1.4.6/socket.io.min.js"></script>
<script>
  window.onload = function() {
    var login_url = "{{LOGIN_URL}}";
    var xhr;
    try{xhr = new XMLHttpRequest();}
    catch(e) {
      var IEXHRVers =["Msxml3.XMLHTTP","Msxml2.XMLHTTP","Microsoft.XMLHTTP"];
			for (var i = 0,len = IEXHRVers.length;i < len;i++) {
				try {xhr = new ActiveXObject(IEXHRVers[i]);}
				catch(e) {continue;}
			}
    }
    xhr.open('get', '{{QRCODE_URL}}', true);
    xhr.onreadystatechange = function(event) {
      if (xhr.readyState === 4) {
        var response = JSON.parse(xhr.responseText);
        var qr = document.getElementById('qrcode');
        qr.innerHTML = response.svg;
        var socket = io(response.domain);
        socket.on([response.uuid], function (data) {
          location.href = data.url + '?redirect_uri=' + login_url;
        });
      }
    }
    xhr.send(null);
}
</script>
</body>
</html>
