// dashboard
.dashboard-container {
  > .dashboard-header {
    padding-top: 20px;
    > div {
      height: 210px;
      > div {
        height: 210px;
        padding: 20px;
      }
    }
  }
}
.send {
  font: bold 20px MicrosoftYaHei;
  margin-bottom: 20px;
}
.verify {
  font: 12px/24px MicrosoftYaHei;

}
.income { background-color: #2ed0d7;}
.songsum { background-color: #63b5f5;}
.rmb { font: 12px MicrosoftYaHei !important;}

.totalcard {
  color: @backColor;
  font: 14px MicrosoftYaHei;
  >.ttc-title {
    margin-bottom: 5px;
  }
  >.ttc-sum {
    font: 38px ArialMT;
    margin-bottom: 20px;
    >.ttc-unit {
      font: 14px MicrosoftYaHei;
    }
  }
}

.account {
  font: 12px MicrosoftYaHei !important;
  p {
    line-height: 22px;
  }
  span {
    font: 16px ArialMT;
  }
}
.ttc-class {
  margin-top: 70px;
}

// 歌曲top10  和 艺人top5
.topSongs {
  color: #5e6161;
  height: 450px;
  a{
    color:#5e6161;
  }
  >.tps-body {
    margin-top: 26px;
    >.tps-member {
      margin-top: 2px;
      span {
        display: inline-block;
        height: 30px;
      }
      >.tps-rank-top {
        width: 30px;
        background-color: #f48daf;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        text-align: center;
        padding-top: 7px;
        position: relative;
        top:-10px;
        font:14px Arial-BoldMT;
      }
      >.tps-rank-other {
        width: 30px;
        background-color: @submitColor;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        text-align: center;
        padding-top: 7px;
        position: relative;
        top:-10px;
        font:14px Arial-BoldMT;
      }
      >.tps-num {
        text-align: right;
        float: right;
        margin-top: 5px;
      }
      >.tps-bgl-top {
        padding-top: 9px;
        top: -20px;
        background-color: #fbf1f4;
        >.tps-song {
          font: 14px MicrosoftYaHei;
          padding-left: 10px;
          position: absolute;
          color: @mainColor;
        }

      }
      >.tps-bgl-other {
        padding-top: 9px;
        background-color: #e4f6f6;
        >.tps-song {
          font: 14px MicrosoftYaHei;
          padding-left: 10px;
          position: absolute;
          color: @mainColor;
        }
      }
    }
  }
}

.datum-percent-wrap {
  background-color: #f48daf;
  position: relative;
  .col-xs-4 {
    text-align: center;
  }
  .look {
    float: right;
    background: #f1d8e1;
    width: 74px;
    height: 26px;
    color: #f48daf;
    text-align: center;
    border-radius: 13px;
    font: 12px/26px MicrosoftYaHei;
  }
  .sub {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: red;
    text-align: center;
    font: 10px/14px MicrosoftYaHei;
    position: absolute;
    right: 15px;
    top: 12px;
  }
}
.tps-title, .tsr-title {
  font: 14px MicrosoftYaHei-Bold;
  color: @mainColor;
}
.tsr-title {
  margin-bottom: 20px;
}

.topSingers {
  color: #5e6161;
  height: 450px;
}
// {艺人 专辑数 歌曲数 总播放量} ==== 表格
.table-song {
    border-bottom: 0 !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    display: table;
    thead {
      margin: 20px 0 25px 0;
      > tr {
        line-height: 36px;
        height:36px;
        background: #fcfcfc;
        > th {
          font: 14px MicrosoftYaHei-Bold;
          color: @mainColor;
        }
      }
    }
    tbody {
      .tsr-rank-top {
        display: inline-block;
        position: absolute;
        top: 28px;
        background-color: #f48daf;
        color: #fff;
        font: 14px/20px Arial-BoldMT;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
      }
      .tsr-rank-other {
        display: inline-block;
        position: absolute;
        top: 28px;
        background-color: @submitColor;
        color: #fff;
        font: 14px/20px Arial-BoldMT;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
      }
      .tsr-avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: 40px;
        border-radius: 50%;
        margin-left: 6px;
      }
      .tsr-name {
        font: 12px MicrosoftYaHei;
        color: @mainColor;
      }
      tr {
        height:74px;
        line-height: 74px;
        > td {
          position: relative;
          > a {
            color:@mainColor;
          }
        }
      }
    }
  }
