#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2472b4;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  left: 0;
  top: 0;
}

.doorbell-wrap {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  .header-logo {
    margin-bottom: 10px;
    text-align: center;
    img {
      width: 100px;
    }
  }
  .input-group-addon {
    padding: 0;
    border: 0;
    .btn {
      height: 34px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .form-control {
    box-shadow: none;
  }
  .code-input-wrap {
    .form-control {
      border-right: 0;
    }
  }
  .primary-bg {
    background-color: #01BCFF;
    color: #fff;
  }
  .sub {
    border-color: #01BCFF;
  }
  .tips {
    margin-top: 10px;
  }
}
