.OrderInfoCard{
  background-color: #fff;
  .oi-item{
    border: 1px solid #CFCFCF;
    .oi-img{
      display: inline-block;
      width: 50px;
      height: 50px;

    }
    .oi-name{
      margin-top: 5px;
      padding-top: 20px;
      margin-left: 5px;
      display: inline-block;

    }
    .oi-price{
      margin-top: 5px;
      padding-top: 20px;
      margin-left: 10px;
      display: inline-block;
    }
    .oi-choose{
      margin-top: 5px;
      padding-top: 20px;
      display: inline-block;
      i{
        margin-left: 15px;
        font-size: 25px;
        height: 25px;
        color: #CFCFCF;
      }
    }

  }

}
