.ce-p{
  font: 14px MicrosoftYaHei;
  color: @mainColor;
  padding-bottom: 20px;
  .ce-name{
    display: inline-block;
    width: 260px;
    text-align: right;
    margin-right: 88px;
  }
  .ce-bt{
    display: inline-block;
    background: transparent;
    border: none;
    color: @submitColor;
  }
}
.ce-center {
  text-align: center;
}
