// Variables

// colors
@primaryColor: #586777;
@sideBarBgColor: #2e394b;
@sideBarSelBgColor: #293242;
@linkColor: #12bdc4;
@bodyBgColor: #f3f3f4;
@borderColor: #e5e7e9;

// zIndex
@sideBarZIndex: 10000;
